#!/bin/bash

export ARDUINO_DATA="$HOME/.arduino15"

export PROJECT_ROOT=`pwd`

export PATH=`pwd`/bin:$PATH
export PATH=`pwd`/node_modules/.bin:$PATH

export DEVICE_DIR=device
export DEVICE_SKETCH=robot-camera

export CPATH="$PROJECT_ROOT/3rdparty/Micro-RTSP"